<form (ngSubmit)="onAutosFormSubmit()" [formGroup]="autosForm">
	<table>
		<tbody formArrayName="autos">
			<tr *ngFor="let auto of autos.controls; let i = index;" [formGroupName]="i">
				<td>
					{{  auto.controls['name'].value }}
				</td>
				<td>
					{{  auto.controls['price'].value }}
				</td>
				<td>
					<input id="auto_{{i}}" title="Abierto desde las" type="text" formControlName="discount">
				</td>
				<td>
					{{  auto.controls['finalPrice'].value }}
				</td>
			</tr>

			<tr>
				<td>
				
				</td>
				<td>
					Total
				</td>
				<td>
					{{ discountSum.value }}
				</td>
				<td>
					{{ finalPriceSum.value }}
				</td>
			</tr>
		</tbody>
	</table>
	<button type="submit"> Guardar </button>
</form>